.boton-contenedor {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  filter: drop-shadow(2px 2px 2px black);

 
}

/* .boton-contenedor:hover{
  
  transform: translateY(-0.33em);
} */

.operador {
  background-color: #692BB8;
  filter: drop-shadow(5px 5px 5px black);
}
